{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js">
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/ducks/duck-detail.css' %}" />
<script defer src="{% static 'js/duck-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-duck.svg' %}" 
      alt="A skater boy duck"
    >
  </div>
  <div class="cat-details">
    <h1>{{ duck.name }}!</h1>
    {% if duck.cool %}
      <h2>{{ duck.name }} is a cool duck</h2>
    {% else %}
      <h2>{{ duck.name }} kinda stinks...what a nerd</h2>
    {% endif %}
    <p>{{ duck.description }}</p>
    <p>{{ duck.name }}'s Quack Snack: {{ duck.quack_snack }}</p>
    <div class="cat-actions">
      <a href="{% url 'ducks_update' duck.id %}" class="btn warn">Edit</a>
      <a href="{% url 'ducks_delete' duck.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Deeds</h2>
      <img src="{% static 'images/duck-cone.svg' %}" alt="An ice cream cone duck" />
      <img src="{% static 'images/duck-onigiri.svg' %}" alt="A duck as onigiri" />
      <img src="{% static 'images/duck-kabob.svg' %}" alt="A kabob of ducks"/>
    </div>
    <h3>Add a Deed</h3>
    <form action="{% url 'add_deed' duck.id %}" method="post" class="subsection-content">
      {% if duck.deeds_for_today %}
      <p class="fed">{{ duck.name }} has done enough for today...</p>
      {% else %}
      <p class="unfed">{{ duck.name }} hasn't gotten their PR up!</p>
      {% endif %}
      {% csrf_token %}
      {{ pr_form.as_p }}
      <button type="submit" class="btn submit">Add Deed</button>
    </form>
    <h3>Past Deeds</h3>
    {% if duck.public_relations_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Deed</th></tr>
      </thead>
      <tbody>
        {% for deed in duck.public_relations_set.all %}
          <tr>
            <td>{{ deed.date }}</td>
            <td>{{ deed.get_deed_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>{{ duck.name }} has done no deeds...for better or worse</p>
    </div>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Hats</h2>
      <img src="{% static 'images/string.svg' %}" alt="A propeller hat" />
      <img src="{% static 'images/mouse.svg' %}" alt="A snapback" />
      <img src="{% static 'images/fish.svg' %}" alt="A beanie" />
    </div>
    <h3>{{ duck.name }}'s Hats</h3>
    <div class="subsection-content">
      {% if duck.hats.count %}
        {% for hat in duck.hats.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ hat.color }}"
            ></div>
            <a href="{% url 'hats_detail' hat.id %}">
              <p>A {{ hat.color }} {{ hat.type }} hat</p>
            </a>
            <form action="{% url 'remove_hat' duck.id hat.id %}" method="delete">
              {% csrf_token %}
              <button type="submit" class="btn danger">Take hat away</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{ duck.name }} doesn't have any hats 😞</p>
      {% endif %}
    </div>
    <h3>Available Hats</h3>
    <div class="subsection-content">
    {% if hats.count %}
      {% for hat in hats.all %}
        <div class="toy-container">
          <div 
            class="color-block"
            style="background-color: {{ hat.color }}"
          ></div>
          <a href="{% url 'hats_detail' hat.id %}">
            <p>A {{ hat.color }} {{ hat.type }} hat</p>
          </a>
          <form action="{% url 'assoc_hat' duck.id hat.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn submit">Give hat</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p class="all-toys">
        {{ duck.name }} already has all the available toys 🥳
      </p>
    {% endif %}
    </div>
  </section>
</div>

{% endblock %}