{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ducks/duck-index.css' %}" />

{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Duck List</h1>
  <img src="{% static 'images/cool-cat.svg' %}" alt="A cool duck" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy duck" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A duck in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A duck in a box" />
</section>

<section class="card-container">
  {% for duck in ducks %}
    <div class="card">
      <a href="{% url 'ducks_detail' duck.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="A skater boy duck">
          </div>
          <h2 class="card-title">{{ duck.name }}</h2>
          {% if duck.cool %}
          <p>{{ duck.name }} has been deemed...cool</p>
          {% else %}
          <p>{{ duck.name }} is NOT cool...</p>
          {% endif %}
          <p><small>{{ duck.description }}</small></p>
          <p><small>Quack Snack: {{ duck.quack_snack }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}